@using RealityFirst.Models
@{
    ViewData["Title"] = "Compra";
}

 

<div class="container" align="center">
    <h1 class="display-2 text-white"> Compra entrada </h1>
    <br><br>
</div>

<div class="container shadow-lg p-3 mb-5 bg-dark bg-opacity-0 rounded-3">
    

    <br>
    <div class="container border-top" align="center">
        <br>
        <h1 class="display-6 text-white"> Datos Personales </h1>
        <br>
    </div>

    <div class="container">
        <!--Datos Personales-->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre:</span>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">RUT</span>
            <input type="text" class="form-control" placeholder="" aria-label="Username">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control" placeholder="" aria-label="Server">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Correo:</span>
            <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <select class="form-select" aria-label="Default select example">
          <option selected>gmail.com</option>
          <option value="1">hotmail.com</option>
          <option value="2">duocuc.cl</option>
          <option value="4">Outlook.com</option>
        </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Número Teléfono:</span>
            <input type="text" class="form-control" id="basic-url" placeholder="+56 9 9999 9999" aria-describedby="basic-addon3">
        </div>
    
        <div class="input-group mb-3">
            <span class="input-group-text">Dirección:</span>
            <input type="text" class="form-control" placeholder="En Mi Casa 5754" aria-label="Amount (to the nearest dollar)">
        </div>
        <br><br>
        <div class="container border-top" align="center">
        <br>
        <h1 class="display-6 text-white"> Datos del Evento </h1>
        <br>
    </div>

    <div class="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre del evento: @Model.nombre_evento</span>  
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Lugar del evento: @Model.lugar_evento</span>  
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre del artista: @Model.nombre_artista</span>  
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Fecha y hora del evento: @Model.fecha_evento  @Model.inicio HRS</span>  
        </div>

        <div align="center" class="border-top">
        <select class="form-select" aria-label="Default select example">
          <option selected>Seleccione el tipo de entrada</option>
          <option value="1">Platea alta $20.000</option>
          <option value="2">Platea Baja $30.000</option>
          <option value="4">Primera fila $45.000</option>
          <option value="5">Cancha $60.000</option>
          <option value="6">VIP $100.000</option>
        </select>
         </div>
        <!--Metodo de Pago-->
        <div class="container border-top" align="center">
            <br>
            <h1 class="display-6 text-white"> Pagar </h1>
            <br>
        </div>
        <div align=center>
            <table>
            <tr class="container">
                <th><button type="button" class="btn btn-secondary btn-lg" disabled><img src="~/img/carrocompra.jpg" width=30%></button></th>               
            </tr>
            </table>  
        </div>
        <br>
        <div class="container border-top" align=center>
            <br>
            <a href="/Evento/Ticket/@Model.id_artista" class="btn btn-dark text-white">Ir a pagar</a>
            <br>
            <br>
        </div>
    </div>
</div>

