@using RealityFirst.Models
@{
    ViewData["Title"] = "Artistas";
}

 
<div class="container" >
    <nav class="rounded-pill shadow bg-white" style="--bs-breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+) !important;" aria-label="breadcrumb">
        <ol class="breadcrumb align-content-center">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><div class="bg-image hover-overlay"></div></a></li>
            
        </ol>
    </nav>
</div>

<div class="container" align="center">
    <br>
    <h1 class="display-2 text-white"> Artistas </h1>
    <br><br>
</div>

<div class="row" align="center">

    @foreach (ArtistaModel artista in Model)
    {          
 <div class="'col-12 col-lg-0  col-md-6 text-center'">
          <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;" >
              <img src="@artista.foto" class="card-img-top rounded-3" alt="Card image">
              <div class="card-body">
                <h5 class="card-title text-black">@artista.nombre</h5>
              </div>
              <ul class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <li class="card text-white bg-secondary mb-3" style="max-width: 18rem;">Genero: @artista.genero</li>
                <li class="card text-white bg-secondary mb-3" style="max-width: 18rem;">Fecha de nacimiento: @artista.fecha_nacimiento</li>
                <li class="card text-white bg-secondary mb-3" style="max-width: 18rem;">Edad: @artista.edad</li>
              </ul>
              <div class="card-body" align="center">
                <a href="/Artista/Ficha_artista/@artista.id" class="btn btn-dark">Ver</a>
              </div>
          </div>
        </div>
    }
 </div>